.header {
    display: flex;
    border: solid red;
    height: 50px;
}
.header-name{
    /* padding-top: 15px; */
    font-size: 40px;
    padding-right: 20px;
}
.header-tabs {
    cursor: pointer;
    height: fit-content;
    text-align: center;
    font-size: 20px;
    margin-top: 0.8rem;
    width: auto;
    /* border: solid springgreen; */
}
.header-span{
    width: 10px;
}

.body-content {
    padding-top: 20px;
    /* padding-left: 50px; */
    /* border: solid violet; */
    height: 100%;
}
.profile-pic-container {
    display: flex;
    height: 420px;
    padding-left: 50px;
    border: solid darkblue;
}
.profile-pic-section {
    width: 30%;
    /* border: solid darkgreen; */
}
.profile-pic{
    width: 430px;
    height: 400px;
    border-radius: 100%;
    border: solid tomato;
}
.name-section {
    width: 60%;
    height: 100%;
}
.name {
    padding-top: 50px;
    /* border: solid firebrick; */
    width: auto;
    height: auto;
    /* text-align: center; */
    font-size: 80px;
}
.name-subtext{
    color: rgb(150, 142, 142);
    font-size: 40px;
}
.description {
    padding-top: 30px;
    font-size: 20px;
    text-align: justify;
}
.second-section {
    display: flex;
    border: solid green;
    height: 400px;
}
.left-section {
    width: 40%;
    /* border: solid hotpink; */
}
.right-section{
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    width: 50%;
    /* border: solid indigo; */
}
.extra-left-padding {
    padding-left: 20px;
}
.extra-top-padding {
    padding-top: 20px;
}
.skill-grid {
    display: grid;
    grid-template-columns: 7% 20% 7% 20% 7% 20%;
    row-gap: 20px;
    column-gap: 10px;
}
.skill {
    /* border: solid indigo; */
    font-size: 30px;
}